.tachado{
    text-decoration: line-through;
}

body{

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(59, 58, 57);
    text-align: center;
    margin: 0;
    padding: 0;
    
}

h1{
    color: rgb(203, 199, 194);
}


.container {
    margin-top: 20px;
    text-align: center;
}

#tarea {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

